legacy/
SoM/

checkpoints
data
logs
tmp
wandb
weights
models/
results/

gsamllavanav/fonts

*.tif
*.pyc
*.zip

tmp.py

_notebooks

*.json
*.pkl
*.png
*.jpg

utils/test_unseen
utils/val_seen

environment.yml
debug_*.py
try.py
